@import '../../../scss/colors';

.buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form__button {
  color: $colorwhite;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0 20px;
}