@import '../../../scss/colors';
@import '../../../scss/variables';


.filter__wrapper {
  background-color: $colorlightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  @media all and (min-width: $bptablet){
    padding: 0 auto;
  }
}

.MuiInputBase-input.MuiInput-input{
  margin: 0 20px;
  max-width: 700px;
  @media all and(min-width: $bptablet) {
    max-width: 950px;
  }
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-1 {
  text-align: right;
}

.MuiFormLabel-root.Mui-focused {
  color: $colorblue !important;
}

.fa-search {
  color: $colorblue;
  transform: rotate(90deg);
  font-size: 30px;
}