@import '../../../scss/colors';

.filter__wrapper {
  background-color: $colorlightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 30px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-1 {
  text-align: right;
}

.fa-search {
  color: $colorblue;
  transform: rotate(90deg);
  font-size: 30px;
}


