@import '../../scss/variables';
@import '../../scss/colors';

.container__stacklist {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container__footer {
    margin-top: 40px;
  }
}

.stacklist__main {
  flex-grow: 1;
}

.question__list {
  border: 0;
  padding: 0;
  margin: 40px 0 0 0;
}

.question__item {
  list-style: none;
  margin: 20px 40px;
  border: 1px solid $colorlightgrey;
}
