@import '../../scss/colors';
@import '../../scss/variables';

.question__page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $defaultfont;
}

.header__button-link {
  text-decoration: none;
}

.question__main {
  padding: 0 39px;
}

.section__title {
  color: $colorgrey;
  font-weight: normal;
  font-size: 20px;
  margin: 65px 0 23px;
}

.question__content {
  color: $colorgrey;
  margin: 0;
  padding: 50px 80px;
  @media all and (min-width: $bptablet) {
    padding: 50px 80px;
  }
}

.answer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.text__error {
  color: $colorgrey;
  text-align: center;
  font-weight: bold;
}
