@import '../../scss/colors';
@import '../../scss/variables';

.question__page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  font-family: $defaultfont;
}

.question__main {
  padding: 0 25px;
}

.question__title {
  color: $colorgrey;
}

.section__title {
  color: $colorgrey;
  font-weight: normal;
  font-size: 20px;
}
