@import '../../../scss/colors';
<<<<<<< HEAD
@import '../../../scss/variables';
=======
>>>>>>> final-touches

.MuiPaper-root.MuiPaper-elevation1.QuestionDetails-paperAnswer-7.MuiPaper-rounded {
  display: flex;
  flex-direction: column;
}

.container__text {
  display: flex;
  flex-direction: row;
  text-align: center;
  @media all and (min-width: $bptablet){
    text-align: left;
  }
}

.answer__heart {
  color: $colorbordo;
  opacity: 0.85;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.MuiSvgIcon-root.answer__heart {
  font-size: 2rem;
}

.answer__text {
  color: $colorgrey;
  font-size: 16px;
  padding: 0px 30px;
}

.container__user {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center;
  @media all and (min-width: $bptablet){
    align-items: flex-end;
  }
=======
  align-items: flex-end;
  color: $colorgrey;
>>>>>>> final-touches
}

.container__face {
  display: flex;
}

.answer__author {
  font-size: 15px;
  padding-right: 20px;
  color: $colorblue;
}

.MuiAvatar-root.answer__img {
  width: 50px;
  height: auto;
}

<<<<<<< HEAD
.answer__date {
  margin: 0px;
  padding: 0 10px;
  color: $colorgrey;
=======
.answer__date  {
  margin: 0;
>>>>>>> final-touches
}