@import '../../scss/colors.scss';
@import '../../scss/variables.scss';

.page__home {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container__header-home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: $colorlightblue;
  text-align: center;
  width: 100%;
  min-height: 300px;
}

.header__home {
  width: 372px;
}

.home__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $colorlightblue;
  justify-content: flex-start;
  text-align: center;
}

.home__title {
  font-family: $defaultfont;
  font-size: 30px;
  color: $colorwhite;
  margin: 60px 30px 60px;
  text-align: center;
  font-weight: normal;
}

.info__btn {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 25px;
  right: 28px;
  background: transparent;
  color: $colorwhite;
  border: 2px solid $colorwhite;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: $defaultfont;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 3px 2px $colorgrey;
  }
}

.home__btn-link {
  width: 400px;
  margin: 0 auto;
}

.info__btn:hover {
  transform: scale(1.3);
  transition: transform ease 1s;
} 

.home__btn {
  font-family: $defaultfont;
  font-size: 33px;
  width: 400px;
  color: $colorgrey;
  height: 70px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: $colorwhite;
  border: 0;
}

.home__btn:hover {
  background: $colorbordo;
  color: $colorwhite;
}
