@import '../../scss/colors';
@import '../../scss/variables';

.container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  padding: 0 39px;
  @media all and (min-width: $bptablet){
    position: relative;
    height: 97px;
  }
}

.header__stackList,
.header__link-logo {
  height: 40px;
}

.header__button-link {
  padding: 0 0 40px 0;
  @media all and (min-width: $bptablet){
    text-decoration: none;
    color: $colorblue;
    position: absolute;
    top: 27px;
    left: 39px;
  }
}

.header__link-image {
  margin-right: 12px;
}
