@import '../../scss/colors';
@import '../../scss/variables';

.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
  padding: 0 39px;
  position: relative;
}

.header__stackList {
  background: url('../../images/logo-blue.svg') center center no-repeat;
  background-size: contain;
  height: 0;
  overflow: hidden;
  padding-top: 89px;
  width: 165px;
  margin: 0;
}

.header__link-logo {
  text-decoration: none;
}

.header__button-link {
  text-decoration: none;
  color: $colorblue;
  position: absolute;
  top: 27px;
  left: 39px;
}