@import "../../scss/colors.scss";
@import "../../scss/variables.scss";

// body {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

.container__header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
}

.header__stackList{
  height: 40px;
}

