@import '../../scss/colors.scss';
@import '../../scss/variables.scss';

.container__footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $colorborder;
  align-items: center;
  padding: 10px 0;
  font-family: $defaultfont;
  @media all and (min-width: $bptablet){
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
    height: 70px;
  } 
}

.footer__nfq,
.footer__adalab {
  height: 40px;
}

.link__team {
  text-decoration: none;
  color: $colorblack;
}
