@import '../../scss/colors.scss';
@import '../../scss/variables.scss';

.container__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $defaultfont;
  padding: 0 25px;
  height: 70px;
  border-top: 1px solid $colorborder;
}

.footer__nfq {
  height: 40px;
}

.footer__adalab {
  height: 40px;
}
