@import '../../../scss/colors';

.question__title {
  color: $colorgrey;
  margin: 0;
  font-size: 25px;
}

.question__date {
  color: $colorgrey;
  margin: 0;
}

.title__container,
.subtitle__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle__container {
  margin-top: 10px;
}

.question__author {
  color: $colorblue;
  text-transform: capitalize;
}

.question__user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question__tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.question__tags-list {
  display: flex;
  .question__tag {
    margin-right: 10px;
    background-color: $colorblue;
    color: $colorwhite;
    padding: 5px 8px;
    border-radius: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}
