.wrapper__question {
  display: flex;
  justify-content: space-between;
}

.container__question {
  background-color: red;
}

.question__title {

}

.question__chips {

}

.container__author {
  background-color: green;
}