@import '../../../scss/variables';
@import '../../../scss/colors';

.link__question--wrapper {
  text-decoration: none;
}

.wrapper__question {
  display: flex;
  justify-content: space-between;
}

.container__question {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question__title {
  color: $colorgrey;
  font-size: 25px;
}

.question__chips {
  font-size: 14px;
  margin: 18px 0 0;
}

.container__author {
  display: flex;
  flex-direction: column;
}

.container__author--detail {
  display: flex;
  align-items: right;
  background-color: red;
}
