$colorblue: #4595cb;
$colorgrey: #777777;
$colorlightgrey: #eaeaea;
$colorborder: #f2f2f2;
$colorwhite: #ffffff;
$colorlightblue: rgba(69, 149, 203, 0.7);
$colorred: #E8424A;
$colorblack: #000000;
$colorbordo: #e8424a;
$colororange: #ef7b00;
$colorgreyteam: gainsboro;
